/*////////////////////////Head////////////////////////*/
a {
    text-decoration: none;
    color: black;
}
#head_p {
    display: flex;
    width: 100%;
    height: 100px;
    }

#head_zagolovok {
    width: 20%;
    height: 100px;
    text-align: center;
    float: left;
    }

#panel_button {
    width: 70%;
    height: 80px;
    display: flex;
    }

.panel_button_detal {
    margin: auto;
}
#head_authorization {
    width: 9.7%;
    border: 2px solid gainsboro;
    background-color: gainsboro;
    height: 90%;
}
#head_authorization_1 {

}
#head_authorization_1_tlogin {
    width: 60px;
    margin-left: 10px;
}
#head_authorization_1_tpass {
    width: 60px;
    margin-left: 10px;
}
#head_authorization_1_message {
    width: 100%;
    text-align: center;
    /*color: darkgray;*/
}
.auth_block {
    float: left;
}
#ihead_authorization_1_login {
    width: inherit;
}
#ihead_authorization_1_pass {
    width: inherit;
}
#head_authorization_1_entrance {
    margin-left: 10px;
    margin-right: 10px;
}
#head_authorization_1_registration {
    margin-left: 10px;
    margin-right: 10px;
}
.auth_button_block {
    width: 100px;
}
.btn_m {
    width: 250px;
    height: 50px;
    font-size: 18pt;
    background-color: gainsboro;
    border: 2px solid gainsboro;
}
/*////////////////////////Middle///////////////////////*/
#midl_p {
    background-color: gainsboro;
    display: none; /*display: block;*/
    width: 100%;
    height: 150px;
}

.block_detal {
    display: inline-block;
    text-align: center;
    width: 19.8%;
    height: 150px;
}

.edt {
    width: 200px;
}
.btn_e {
    width: 100px;
    height: 30px;
    font-size: 13pt;
}
.btn_invisible {
    opasity: 0;
}
/*/////////////////////Biblio///////////////////*/
#biblio {
    opacity: 0;
}
#biblio_head {
    text-align: center;
}
/*/////////////////////News///////////////////*/
#news {
    opacity: 0;
}
#news_head {
    text-align: center;
}
/*/////////////////////Books///////////////////*/
#books {
    opacity: 0;
}
#books_head {
    text-align: center;
}
#books_table {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}
.td_table_book {
    border: 1px solid;
}
.td_name {
    text-align: left;
}
/*/////////////////////user.html/////////////////////*/
#head_zagolovok_2 {
    width: 20%;
    text-align: center;
    margin: auto;
}
#dtable_user {
    width: 100%;
    text-align: center;
}
#table_user {
    width: 50%;
    border: 1px solid;
}
.btn_table_user {
    width: 200px;
}
#dbtn_panel_user {
    width: 50%;
    text-align: center;
}
.btn_table_user_2 {
    width: 49.7%;
}
.td_table_user {
    text-align: left;
}
/*/////////////////////admin_home.html/////////////////////*/