/*////////////////////////Head////////////////////////*/
#head_p {
    display: flex;
    width: 100%;
    height: 100px;
    }

#head_zagolovok {
    width: 20%;
    height: 100px;
    text-align: center;
    float: left;
    }

#panel_button {
    width: 70%;
    height: 80px;
    display: flex;
    }

.panel_button_detal {
    margin: auto;
}
#head_authorization {
    width: 10%;
    border: 2px solid gainsboro;
    background-color: gainsboro;
    height: 90%;
}
#head_authorization_1 {

}
#head_authorization_1_tlogin {
    width: 60px;
    margin-left: 10px;
}
#head_authorization_1_tpass {
    width: 60px;
    margin-left: 10px;
}
#head_authorization_1_message {
    width: 100%;
    text-align: center;
    /*color: darkgray;*/
}
.auth_block {
    float: left;
}
#ihead_authorization_1_login {
    width: inherit;
}
#ihead_authorization_1_pass {
    width: inherit;
}
#head_authorization_1_entrance {
    margin-left: 10px;
    margin-right: 10px;
}
#head_authorization_1_registration {
    margin-left: 10px;
    margin-right: 10px;
}
.auth_button_block {
    width: 100px;
}
.btn_m {
    width: 250px;
    height: 50px;
    font-size: 18pt;
    background-color: gainsboro;
    border: 2px solid gainsboro;
}
/*////////////////////////Middle///////////////////////*/
#midl_p {
    background-color: gainsboro;
    display: block;
    width: 100%;
    height: 150px;
}

.block_detal {
    display: inline-block;
    text-align: center;
    width: 19.8%;
    height: 150px;
}

.edt {
    width: 200px;
}
.btn_e {
    width: 100px;
    height: 30px;
    font-size: 13pt;
}
.btn_invisible {
    opasity: 0;
}