<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="js/script.js"></script>

</head>
<body>
<!--Панель выбора действий-->
<div id="head_p">
    <div id="head_zagolovok">
        <h1>Библиотека</h1>
    </div>
    <div id="panel_button">
        <div class="panel_button_detal">
            <button class="btn_m" id="find">Поиск</button>
        </div>
        <div class="panel_button_detal">
            <button class="btn_m" id="add">Добавить</button>
        </div>
        <div class="panel_button_detal">
            <button class="btn_m" id="redact">Изменить</button>
        </div>
        <div class="panel_button_detal">
            <button class="btn_m" id="del">Удалить</button>
        </div>
    </div>
    <div id="head_authorization">
        <div id="head_authorization_1">
            <div id="head_authorization_1_tlogin" class="auth_block">
                <span id="shead_authorization_1_tlogin">Логин</span>
            </div>
            <div id="head_authorization_1_login" class="auth_block auth_button_block">
                <input type="text" id="ihead_authorization_1_login" placeholder="login">
            </div>
            <div id="head_authorization_1_tpass" class="auth_block">
                <span id="shead_authorization_1_tpass">Пароль</span>
            </div>
            <div id="head_authorization_1_pass" class="auth_block auth_button_block">
                <input type="password" id="ihead_authorization_1_pass" placeholder="password">
            </div>
            <div id="head_authorization_1_message" class="auth_block">
                <span id="shead_authorization_1_message">Авторизуйтесь</span>
            </div>
            <div id="head_authorization_1_entrance" class="auth_block">
                <input type="button" id="ihead_authorization_1_entrance" value="Войти" onclick="SignIn(true)">
            </div>
            <div id="head_authorization_1_registration" class="auth_block">
                <input type="button" id="ihead_authorization_1_registration" value="Регистрация">
            </div>
        </div>
    </div>
</div>
<!--Ввод данных для действия-->
<!--form id="send_d" action="WorkServlet"></form-->
<div id="midl_p" ng-controller="ctrlMid">
        <div class="block_detal">
            <h3>Раздел</h3>
            <select class="edt" ng-model="type_b">
                <option>Все</option>
                <option>Экономика</option>
                <option>Программирование</option>
                <option>Политология</option>
                <option>Математика</option>
                <option>Философия</option>
            </select>
        </div>
        <div class="block_detal">
            <h3>Название книги</h3>
            <input type="text" class="edt" ng-model="name_b">
        </div>
        <div class="block_detal">
            <h3>Автор</h3>
            <input type="text" class="edt" ng-model="author_b">
        </div>
        <div class="block_detal">
            <h3>Дата выпуска</h3>
            <input type="text" class="edt" ng-model="release_b">
        </div>
        <div class="block_detal">
                <button class="btn_e" ng-click="sendDate()">ОК</button>
                <button class="btn_e">Отмена</button>
        </div>
</div>
<!--Вывод БД-->
<div id="foot_p" ng-controller="ctrlFoot">
    <button ng-click="s1()">/index.html</button>
    <button ng-click="s2()">/signup</button>
    <button ng-click="s4()">/find_book</button>
    <button ng-click="s5()">/add_book</button>
    <button ng-click="s6()">/redact_book</button>
    <button ng-click="s7()">/delete_book</button>
    <button ng-click="s8()">/user.html</button>
    <!--p>Books</p>
    <div ng-repeat="record in records">
    <div>{{record}}</div>
    </div-->
</div>
<script src="js/script_js.js"></script>
</body>
</html>