<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>ru.library.InitListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>ru.library.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
</web-app>